// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono&family=Bebas+Neue&family=Inter+Tight:wght@900&family=Inter:wght@400;700&family=Space+Mono&display=swap');


// Define fonts for body and headers
$body-font: 'Inter', sans-serif;
$headers-font: 'Inter', sans-serif;
$logo-font: "Inter Tight", "Helvetica", "sans-serif";
$mono-font: 'Space Mono', monospace;

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
