
@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }

.hidden {
  display: none;
}

.logo {
  font-family: $logo-font;
}

$primary: #3e64ff;


body{
	font-family: $body-font;
	font-size: 14px;
	line-height: 1.8;
	font-weight: normal;
	background: #fafafa;
}

.warning-box {
  background-color: rgba(255, 213, 121, 0.5);
  border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-background-clip:    padding;
  background-clip:         padding-box;
}

.notice-box {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
}
