
@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }

.hidden {
  display: none;
}

.logo {
  font-family: $logo-font;
}

$primary: #3e64ff;


body{
	font-family: $body-font;
	font-size: 14px;
	line-height: 1.8;
	font-weight: normal;
	background: #fafafa;
}

.gray-800 {
  color: $gray-800;
}

.gradient-text {
  background-image: linear-gradient(to right, $pink-500 , $orange-500);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-text {
  background-clip: text;
  text-fill-color: transparent;
}

.gradient-background {
  background-image: linear-gradient(to right, $pink-500 , $orange-500);
  border: linear-gradient(to right, $pink-500 , $orange-500);
}

.gradient-background:hover {
  background-image: linear-gradient(to right, $pink-500 , $orange-500);
  border: linear-gradient(to right, $pink-500 , $orange-500);
}

.transition {
  transition: all 0.3s ease-in-out;
}

.transform {
  transform: scale(1);
}

.hover\:scale-105:hover {
  transform: scale(1.05);
}
