<% progress = ((DateTime.now.getlocal.to_date - result.test_date.to_date).to_f / (result.next_test_date.to_date - DateTime.now.getlocal.to_date).to_f) * 100 %>
    <div class="card p-3 mb-2">
      <div class="d-flex justify-content-between">
        <div class="d-flex flex-row align-items-center">
          <div class="icon"> <i class="fa-solid fa-virus"></i> </div>
          <div class="ms-2 c-details">
            <h6 class="mb-0"> <%= result.user.first_name%> </h6>
            <span><%= distance_of_time_in_words(result.test_date, DateTime.now.getlocal) %> ago</span>
          </div>
        </div>
        <div class="badge"> <span>Result</span> </div>
      </div>
      <div class="mt-5">
        <h3 class="heading">STI<br>Check Up</h3>
        <div class="mt-5">
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: <%= progress > 100 ? 100 : progress %>%" aria-valuenow="50" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
          <div class="mt-3"> <span class="text1"><%= distance_of_time_in_words(result.next_test_date.to_date, DateTime.now.getlocal.to_date) %> <span class="text2"> until you can 😘</span></span>
          </div>
        </div>
      </div>
    </div>
