<% if notice %>
  <div class="alert alert-primary alert-dismissible fade show m-1" role="alert">
    <%= notice %>
     <i class="fa-solid fa-square-info fa-shake"></i>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-primary alert-dismissible fade show m-1" role="alert">
    <%= alert %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
  </div>
<% end %>
