<input type="text" id="search-input" placeholder="Patient Search...">

<div id = "patient-list">
  <% @patients.each do |patient| %>
    <p>
      <li>
      <%= link_to "#{patient.first_name} #{patient.last_name}", patients_result_path(patient) %>
      </li>
    </p>
  <% end %>
</div>
