<% if current_user.is_doctor %>

  <input type="text" id="search-input" placeholder="Patient Search.." class="mb-3">
  <div id="patient-list">
    <% @patients.each do |patient| %>
      <p>
         <i class="fa-duotone fa-folder-medical"></i> <%= link_to "#{patient.first_name} #{patient.last_name}", results_patient_path(patient) %>
      </p>
    <% end %>
  </div>

<% else %>

  <div class="container">
  <div class="row">
    <% @results.order("test_date desc").each do |result| %>
    <%= render partial: "shared/card", locals: {result: result} %>
    <% end %>
    </div>
  </div>

<% end %>

<script>
  var searchInput = document.getElementById("search-input");
  var list = document.getElementById("patient-list");

  searchInput.addEventListener("keyup", function() {
    var searchValue = this.value.toLowerCase();
    var listItems = list.getElementsByTagName("p");

    for (var i = 0; i < listItems.length; i++) {
      var item = listItems[i];
      var itemValue = item.innerHTML.toLowerCase();
      if (itemValue.indexOf(searchValue) != -1) {
        item.style.display = "block";
      } else {
        item.style.display = "none";
      }
    }
  });
</script>
