<h2> <%= "Results for #{@patient.first_name} #{@patient.last_name}" %> </h2>
<% @results.each do |result| %>
<p>

    <%= link_to "#{result.id} #{result.test_date}", result_path(result) %>

 </p>
<% end %>
