<div class="mt-5 mb-3">
  <div class="row">
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-1">
      <%= render partial: "shared/card_detail_share", locals: {result: @result} %>
      <div>This result sharing will expire in
      <span data-controller="timer" data-timer-expiration="<%= @result.links.last.expiration_date %>">
      <span data-target="timer.display"></span>
      </span>
      </div>
    </div>
  </div>
</div>
