<h2>Result from <%= @result.test_date.strftime("%d %b %y") %></h2>

<div>
 <% @result.results_infections.each do |results_infection|  %>
  <div>
    <h3><%= link_to Infection.find(results_infection.infection_id).name, result_results_infection_path(@result,results_infection) %> <%= results_infection.is_treated ? "ðŸ‘" : "ðŸ’Š"%></h3>
  </div>
 <% end %>
</div>
<% if user_signed_in? %>
  <%= link_to "Generate Link", result_link_path(@result) %>
<% end %>
