<h2>Result from <%= @result.test_date.strftime("%d %b %y") %></h2>

<div>

 <% @result.results_infections.each do |infection|  %>
  <div>
    <h3><%= Infection.find(infection.infection_id).name %> <%= infection.is_treated ? "ðŸ‘" : "ðŸ’Š" %></h3>
  </div>
 <% end %>

</div>
