<div class="px-4 pt-5 mt-5 text-center">
  <h1 class="display-1 fw-bold gray-900">Safe is <span class="gradient-text">SEXY</span></h1>
  <div class="col-lg-6 mx-auto" >
    <p class="gray-800 lead mb-4">High fives not STIs, keep your sexual health in check.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
      <a href="/users/sign_up" class="btn btn-primary btn-lg px-4 me-sm-3 border-radius-375 transition duration-300 ease-in-out transform hover:scale-105 gradient-background gradient-background:hover">
        Join now
      </a>
    </div>
  </div>

    <div class="d-flex flex-sm-column flex-lg-row flex-md-column justify-content-between gap-5">
      <%# Card 2 %>
      <div class="card w-25 border-radius-375 p-3">
        <i class="display-1 fa-solid fa-stethoscope red-500"></i>
        <h2 class="gray-900 fw-bold">Doctor-approved</h2>
        <p class="gray-800">
          Snuffd is trusted by doctors, feel confident
          in the accuracy and reliability of the information and
          results provided
        </p>
      </div>

      <div class="card w-25 border-radius-375 p-3">
        <i class="display-1 fa-sharp fa-solid fa-share-nodes pink-500"></i>
        <h2 class="gray-900 fw-bold">Shareable</h2>
        <p class="gray-800">
          Want to get dirty in the sheets share your recent results with other peeps
        </p>
      </div>

      <%# Card 1 %>
      <div class="card w-25 border-radius-375 p-3">
        <i class="display-1 card-title fa-solid fa-peach orange-500"></i>
        <h2 class="gray-900 fw-bold">Peace of mind</h2>
        <p class="gray-800">
          Easily track your sexual health
          and have test results uploaded by doctors all in one place
        </p>
      </div>

    </div>

</div>
