.card {
  height:fit-content;
  max-width: 350px;
  display:block;
  justify-content: center;
  padding: 1rem;
  margin-bottom: 1rem;
  font-size:$font-size-base;
  border-radius: 15px;
  border-width: 1px;
  border-color:#DDD;
  //box-shadow: 0 0 3px rgba(0,0,0,0.2);
}
